#include <windows.h>
#include "ResourceNames.h"

// LANG_NEUTRAL(0), SUBLANG_NEUTRAL(0)
LANGUAGE 0, 0

ID_ICON_MITE ICON "miteterm.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,0
PRODUCTVERSION  VERSION_MAJOR,VERSION_MINOR,VERSION_PATCH,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName",      "Mite Contributors"
            VALUE "FileDescription",  "Mite Terminal Emulator"
            VALUE "FileVersion",      VERSION_STR
            VALUE "InternalName",     "mite"
            VALUE "LegalCopyright",   "© 2026 Mite Contributors. MIT Licensed."
            VALUE "ProductVersion",   VERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
